* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;

}

nav {
    background: #333;
    position: fixed;
    top: 0; left: 0; right: 0;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
}

header h1 {
    size: 2.5rem;
    padding-top: 80px;
    text-align:center;
}

header p{
    color: #555;
    text-align: center;

}

main {
    max-width: 800px;
    margin: 100px auto;
    padding: 2rem;
}

section h2{
    justify-content: center;
    margin: auto;

}

section p {
    line-height: 1.8;
}
section, header {
    box-shadow: o 4px 10px rgba(0,0,0,0.1) ;
    transition: box-shadow o.3s ease;
    padding: 1 rem;
    border-radius: 10px;
}

section:hover, header:hover {
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

img{
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 50%;
    display: block;
    margin: 1rem auto;
}

footer{
    background: #f4f4f4;
    text-align: center;
    padding: 1 rem;
    margin-top:2 rem ;
    font-size: 0.9rem;
    color: #555;
    text-align: center;
    padding: auto;
}
